body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.about-section {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 10px ;
}

.about-section h1 {
    color: #333;
}

.about-section p {
    margin: 10px 0;
}

#learnMoreBtn {
    display: block;
    width: 100px;
    padding: 10px;
    margin: 20px 0;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#learnMoreBtn:hover {
    background: #555;
}


nav ul {
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #0050a1;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    align-items: center;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }
  .nav a.current,
  .nav a:hover {
    color: black;
    font-weight: bold;
  }


  nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.Logo{
    margin-right: auto;
}

.LogIn-SignUp {
    margin-left: auto;
}

nav ul li a:hover{
    background-color:dodgerblue;
}

.logo-img {
    height: 50px;
    width: auto;
}